<ion-header translucent xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>GitHub Actions</ion-title>
  </ion-toolbar> </ion-header
>,
<ion-content fullscreen>
  <ion-card>
    <div id="icon-container">
      <ion-img id="icon" src="/assets/icon/github-actions.svg"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-subtitle>CI/CD Platform</ion-card-subtitle>
      <ion-card-title>GitHub Actions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      GitHub Actions is a continuous integration and continuous delivery (CI/CD) platform that allows you to automate your build, test, and deployment pipeline. You can create workflows that build and test every pull request to your repository, or deploy merged pull requests to production.
      <br/><br/>
      GitHub Actions goes beyond just DevOps and lets you run workflows when other events happen in your repository. For example, you can run a workflow to automatically add the appropriate labels whenever someone creates a new issue in your repository.
      <br/><br/>
      GitHub provides Linux, Windows, and macOS virtual machines to run your workflows, or you can host your own self-hosted runners in your own data center or cloud infrastructure.
      <br/><br/>
      <p id="source">
        Source: <a href="https://docs.github.com/en/actions/learn-github-actions/understanding-github-actions">https://docs.github.com/</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
