<ion-header translucent xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>E-Portfolio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <div id="icon-container">
      <ion-img id="icon" src="/assets/icon/edu-hat.svg"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-subtitle>E-Portfolio</ion-card-subtitle>
      <ion-card-title>CI/CD with GitHub Actions and Azure</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <tr>
          <td><b>Name:</b></td>
          <td>Lukas Holler</td>
        </tr>
        <tr>
          <td><b>Date:</b></td>
          <td>7th June 2022</td>
        </tr>
        <tr>
          <td><b>Course:</b></td>
          <td>TINF20B2</td>
        </tr>
        <tr>
          <td><b>Professor:</b></td>
          <td>Kay Berkling</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
