#icon {
  width: 60vw;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#icon-container {
  margin-top: 30px;
}

ion-card {
  width: 90vw;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#source {
  text-align: right
}

td {
  width: 15ex;
}
