<ion-header translucent xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-title>Azure</ion-title>
  </ion-toolbar> </ion-header
>,
<ion-content fullscreen>
  <ion-card>
    <div id="icon-container">
      <ion-img id="icon" src="/assets/icon/Microsoft_Azure.svg"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-subtitle>Cloud Platform</ion-card-subtitle>
      <ion-card-title>Azure</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The Azure cloud platform is more than 200 products and cloud services designed to help you bring new solutions to life - to solve today’s challenges and create the future. Build, run, and manage applications across multiple clouds, on-premises, and at the edge, with the tools and frameworks of your choice.
      <br/><br/>
      <h2>Solutions do the work for you</h2>
      Find answers to the business challenges you face with an Azure solution that brings together everything you need - related products, services, and third-party applications. From DevOps to business analytics to the Internet of Things, you’ll be up and running quickly with a scalable, cost-effective solution that works with your existing investments.
      <br/><br/>
      <p id="source">
        Source: <a href="https://azure.microsoft.com/en-us/overview/what-is-azure/">https://azure.microsoft.com/</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
